/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#infoDIV {
				padding:5px;
				font:normal 12px arial,tahoma, helvetica, sans-serif;
				height:99%;
				overflow:auto;
				
			}
			
#infoMiniDIV {
				padding:5px;
				font:normal 12px arial,tahoma, helvetica, sans-serif;
				overflow:auto;
				background-color:#B8CFEE;		
				
			}

#helpDIV {
				padding:15px;
				font:normal 12px arial,tahoma, helvetica, sans-serif;
				height:90%;
				overflow:auto;
				
			}			
			
table.ext {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#15428b;
	border-width: 1px;
	border-color: #bddddd;
	border-collapse: collapse;
	width:90%;
}
table.ext th {
	background-color:#B8CFEE;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #B8CFEE;
}
table.ext tr {
	background-color:#d9e7f8;
}
table.ext td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #B8CFEE;
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  overflow: auto;
  width: 100%;
} 
 
 .flat-table th {
    background-color: rgb(112, 112, 112);
    color: white;
    font-weight: normal;
    padding: 3px 3px;
    text-align: center;
  }
  
 .flat-table tr {
    background-color: #e0e0e0;
    color: white;
    font-weight: normal;
    padding: 3px 3px;
    text-align: center;
  }

 .flat-table .blue {
    background-color: #c3daf9;
  }
  
 .flat-table td {
    /*background-color: rgb(238, 238, 238);*/
    color: rgb(111, 111, 111);
    padding: 3px 3px;
  }
 


			
 /* Button styling for your item: 16x16 transparent png. */

.x-btn .icon-busqueda {
    background-image: url(../images/binoculars.svg);
	margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.x-btn .icon-addwms {
    background-image: url(../resources/images/silk/server_add.png);
}
.x-btn .icon-addkml {
    background-image: url(../ux/oleditor/ole/client/theme/geosilk/img/importFeature.png);
}
.bmenu {
    background-image: url(menu-show.gif) !important;
}
.binfo {
    background-image: url(../images/info.svg) !important;
}
.bnav {
    background-image: url(../images/hand-paper.svg) !important;
}
.bmed {
    background-image: url(../images/ruler-vertical.svg) !important;
}
.bmedarea {
    background-image: url(../images/ruler-combined.svg) !important;
}
.bsearch {
    background-image: url(../images/binoculars.svg) !important;
}
.bimp {
    background-image: url(../images/print.svg) !important;
}
.bedit {
    background-image: url(../images/edit.svg) !important;
}
.x-btn .icon-printscr {
    background-image: url(../resources/images/silk/layers.png);
}
.x-btn .icon-help {
    background-image: url(../images/question.svg);
	margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.x-btn .icon-print { 
    background-image: url(../images/print.svg) !important;
}
.x-btn .icon-map-magnify {
	background-image: url("../images/google.svg") !important;
	margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.icon-map-magnify {
	background-image: url("../images/google.svg") !important;
}

.x-btn .icon-zoom-next {
    background: url(../images/arrow-right.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.x-btn .icon-zoom-previous {
    background: url(../images/arrow-left.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.x-btn .icon-zoom-in {
    background: url(../images/search-plus.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.x-btn .icon-zoom-out {
    background: url(../images/search-minus.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.x-btn .icon-zoom-visible {
    background: url(../images/expand-arrows-alt.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.x-btn  .icon-measure-area {
    background: url(../images/ruler-combined.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.icon-measure-area {
    background: url(../images/ruler-combined.svg) no-repeat 0 0 !important;
}
.x-btn .icon-map-pin {
    background: url(../images/map-pin.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.icon-map-pin {
    background: url(../images/map-pin.svg) no-repeat 0 0 !important;
}
.x-btn .icon-upload {
    background: url(../images/upload.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.icon-upload {
    background: url(../images/upload.svg) no-repeat 0 0 !important;
}
.x-btn .icon-dist {
    background-image: url(../images/file-excel.svg);
	margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.icon-dist {
    background-image: url(../images/file-excel.svg);
}
.x-btn .icon-help {
    background: url(../images/question.svg) no-repeat 0 0 !important;
    margin: 0 !important;
    width: 18px !important;
    height: 18px !important;
}
.icon-help {
    background: url(../images/question.svg) no-repeat 0 0 !important;
}
.x-btn .icon-table-save {
    background-image: url(../images/download.svg) !important;
}
.x-btn .icon-table-clear {
    background-image: url(../images/times.svg) !important;
}
.x-btn .icon-table-export {
    background: url(../images/file-export.svg) no-repeat 0 0 !important;
 }
.x-btn .icon-detail {
    background-image: url(../images/bars.svg) !important;
}
.x-btn .icon-table {
    background-image: url(../images/table.svg) !important;
}
.x-tool-expand-east, .x-tool-expand-west {
	background-image: url(../images/bars.svg);
    float: none;
    margin: 3px 2px;
}



.multilineColumn .x-grid3-cell-inner {
            white-space:  normal !important;
}
/*overview map*/
.olControlOverviewMapMinimizeButton,
.olControlOverviewMapMaximizeButton {
    height: 41px !important;
    width: 20px !important;
	bottom: 30px !important;
	background-image: url('../resources/images/openlayers/overviewbutton_min_gray.png') !important;
}
.olControlOverviewMapElement {
		padding: 2px 2px 2px 2px !important;
        background:#dddddd !important;
		
    }
.olControlAttribution{
	bottom:4px !important;
}
.olImageLoadError {
    background-color: orange;
    opacity: 0.1;
    filter: alpha(opacity=10); /* IE */
}

/*google search places*/
.olControlAttribution {
bottom: 0 !important;
}

.olImageLoadError {
background-color: transparent !important;
}

.pac-container {
z-index: 10000
}

/* Google Maps will mess oleDialog up, so set to absolute position */
.oleDialog {
position: absolute;
right: 100px;
}

.olPopup {
z-index: 10000 !important;
}

.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .x-tree-node-icon{
	border: 0 none;
	height: 0px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 0px;
	background-position:center;
	background-repeat: no-repeat;
}
.x-tool {
    background-image: url(../images/times.svg);
	background-position: 0 -0;
}
.x-form-field-wrap .x-form-trigger {
    background-image: url(../images/caret-square-down.svg);
    width: 18px !important;
    height: 24px !important;
    border-bottom: 0px;
    background-position:0 0;
}
.x-trigger-wrap-focus .x-form-trigger {
    background-position: 0 0;
}
.x-form-field-wrap .x-form-trigger-over{
    background-position:0 0;
}
.x-form-text, textarea.x-form-field {
    background-color: #fff;
    background-image: none;
    border-color: #000;
}
.x-tool-expand-east, .x-tool-expand-west {
    background-image: url(../images/bars.svg);
    float: none;
    margin: 3px 2px;
}
.x-panel-header {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    border-color: #B6B6B4/*Gray Cloud*/;
}

table {
    font-size: 1.1em;
}

table.info th {
    font-weight:bold;
}

table.info td {
    padding: 2px 0 0 8px;
 }